body{
    background: url('../img/1.jpeg') center center no-repeat;
}
.form-class{
    margin:auto;
}
.card{
    padding: 20px !important;
}
.bgc-dark{
    background:rgba(10, 10, 10, 0.7) !important;
}